.container {
  min-height: 80vh;
  width: 100%;
}

.commands_title {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 16px;

  cursor: pointer;
}

.commands_list {
  flex: 1;
}

.commands_list > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}
